* {
  box-sizing: border-box;
}

.wrapper {
  padding: 20px;
  border: 2px solid black;
  margin: 20px;
}

.item {
  width: 100px;
  height: 100px;
  margin: 20px;
  background-color: brown;
}

.float-left {
  float: left;
}

.float-right {
  float: right;

}

.clearfix {
  clear: both;
}

.large-item {
  width: 200px;
  height: 220px;
  background-color: brown;
  margin: 20px;
}

.margin-auto {
  margin: 0 auto;
  width: max-content;
}

.margin-right-auto {
  margin: 0 0 0 auto;
  width: max-content;
}